#requirements for mytensor env.
flask
gunicorn
tensorflow==2.11.1
pillow
lxml
Cython
matplotlib
pandas
opencv-python
keras
requests
boto3
pytest
imageai
beautifulsoup4
opencv-contrib-python
psycopg2-binary
flask_caching

