<!doctype html>
<html>
        <h1>Deploying a Deep Learning Model to Predict Surf Crowds</h1>
        <h2>Live Image:</h2>
        <img src="{{ url_for('show_loaded_image') }}" alt="Italian Trulli">>

<body>

    <p><a href="{{ url_for('breakwater_count') }}">2. Get surfer count - Venice Breakwater!</a></p>
    <p><a href="{{ url_for('get_image') }}">See Prediction Image (Reload a few times to get recent)!</a></p>
    <p><a href="https://github.com/SimonHollands/crowdfactor3" >  Main Project Github! </a></p>
    <p><a href="https://github.com/SimonHollands/cfmodelserver" > Model Server API Gitub !</a></p>

</body>
</html>

